@charset "iso-8859-1";

/* - - - - - - - - - - Réglages par default - - - - - - - - - - */
*{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #555555;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style-type: none;
	outline: none;
	resize: none;
	border: none;
}
html,
body{
	background-image: url(../Resources/Images/DSC00467.jpg);
	background-color: #A8BF75;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-attachment: fixed;
	background-size: 100% 100%;
	min-width: 1000px;
	width: 100%;
	height: 100%;
}
p.error{
	color: #F30;
	font-style: italic;
}
a.lien{
	color: #A8BF75;
	font-style: italic;
}
a.lien:hover{
	font-weight: bold;
}
hr{
	margin: 18px 0;
	border: 0;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}
h1{
	color: #A8BF75;
	font-size: 16px;
	margin-bottom: 10px;
}
h2{
	color: #A8BF75;
	font-size: 15px;
	text-align: center;
	margin-bottom: 10px;
}
h3{
	color: #A8BF75;
	font-size: 12px;
	text-align: center;
	margin-bottom: 7px;
	font-style: italic;
}
.titre{
	background-color: #A8BF75;
	text-align: center;
	line-height: 40px;
	font-family: Kalinga;
	font-size: 20px;
	color: #FFF;
	border-bottom-left-radius:25px;
	border-top-left-radius:25px;
	margin-bottom: 25px;
}


/* - - - - - - - - - - Formulaires - - - - - - - - - - */
input,
select,
textarea{
	border-radius: 15px;
	margin-top: 5px;
	padding: 5px 10px 5px 10px;
	border: solid 1px #CCC;
	background-color: #F5F5F5;
}
select,
input[type="file"],
input[type="checkbox"]{
	cursor: pointer;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="file"]:hover,
input[type="file"]:focus,
input[type="range"]:hover,
input[type="range"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus{
	background-color: #FFFFFF;
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.075) inset, 
                0px 0px 8px rgba(82, 168, 236, 0.6);
}
input[type="submit"]{
	cursor: pointer;
	font-weight: bold;
	width: 150px;
}
input[type="submit"]:hover{
	background-color: #A8BF75;
	color: #F5F6F7;
	border: solid 1px #A8BF75;
}


/* - - - - - - - - - - Corps - - - - - - - - - - */
div#corps{
	width: 1200px;
	height: auto;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	background-image: url(../Resources/Images/rayure.png);
	background-repeat: repeat;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
}


/* - - - - - - - - - - Menu - - - - - - - - - - */
nav{
	display: inline-block;
	width: 100%;
	min-width: 800px;
	margin-bottom: 40px;
}
nav ul li{
	display: block;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}
nav ul li a{
	display: block;
	font-family: Kalinga;
	color: #999;
}
					/* Menu */
nav ul#menu li a{
	padding: 5px 10px 2px 10px;
	font-size: 17px;
	line-height: 22px;
	background-image: url(../Resources/Images/vert.png);
	background-size: 100%;
	background-position: -200px -10px;
	background-repeat: no-repeat;
	-webkit-transition: background-position .5s ease, color .8s ease;
	transition: background-position .5s ease, color .8s ease;
}
nav ul#menu li a:hover{
	color: #FFF;
	background-position: 0 0;
}
					/* Compte */
nav ul#account{
	margin-top: 5px;
	float: right;
	margin-right: 15px;
}
nav ul#account li a{
	padding: 3px 8px;
	font-size: 12px;
	line-height: 15px;
	background-color: #EAEAEA;
	-webkit-transition: background-color .5s ease, color .8s ease;
	transition: background-color .5s ease, color .8s ease;
}
nav ul#account li a:hover{ color: #FFF; }
nav ul#account li a.profil:hover{ background-color: #639FFA; }
nav ul#account li a.connexion:hover{ background-color: #F26265; }


/* - - - - - - - - - - Accueil - - - - - - - - - - */
div#corps div.cadre{
	display: inline-block;
	width: 450px;
	margin: 10px;
	overflow: hidden;
}
div#corps div.map{
	float: right;
	width: 650px;
	height: 608px;
	background: url(../Resources/Images/map.png) left top no-repeat;
	position: relative;
}
div#corps span#titre_map{
	font-size: 1.9em;
	color: #A8BF75;
	margin-left: 250px;
	text-shadow: 0px 0px 2px #2E2E2E;
}
div#corps span#titre_bienvenu{
	font-size: 1.9em;
	color: #A8BF75;
	margin-left: 140px;
	text-shadow: 0px 0px 2px #2E2E2E;
}
div#corps div.map div.overlay{
	width: 650px;
	height: 608px;
	background: url(../Resources/Images/map.png) 650px top no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
div#corps div.map img{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
div#corps div.map div.tooltip{
	position: fixed;
	display: inline;
	font-family: Kalinga;
	text-align: center;
	font-size: 15px;
	color: #A8BF75;
	background-color: #FFFFFF;
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.075) inset, 
                0px 0px 8px rgba(82, 168, 236, 0.6);
	border-radius: 20px;
	padding: 5px 10px 0px 10px;
	top: 0px;
	left: 0px;
	z-index: 3;
}

div#corps div.cadre img#img_accueil{
	margin-left: 125px;
	margin-top: 20px;
}

div#corps div.cadre h2{
	display: inline-block;
	vertical-align: top;
	margin-top: 35px;
	margin-left: 10px;
}
div#corps div.cadre p{
	font-size: 1.1em;
	font-style: italic;
	position: absolute;
	margin-left: 250px;
}


/* - - - - - - - - - - Activite_recente - - - - - - - - - - */
aside{
	display: inline-block;
	float: left;
	width: 20%;
	height: auto;
	text-align: center;
	overflow: hidden;
}
aside img{
	border-radius: 2px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-style: solid;
	border-color: rgba(168, 191, 117, 0.7);
	border-width: 5px;
}
aside em{
	float: right;
	margin-right: 10px;
	
}

/* - - - - - - - - - - Section - - - - - - - - - - */
section{
	float: right;
	width: 78%;
	height: auto;
	min-height: 500px;
	
}


/* - - - - - - - - - - Formulaire de recherche - - - - - - - - - - */
section#rando div#titre_recherche_avancee{
	width: 100%;
	height: 50px;
	background-color: #2E9AFE;
	box-shadow:	0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}
section#rando div#titre_recherche_avancee p{
	padding-top: 13px;
	text-align: center;
	color: #F5F6F7;
	font-weight: bold;
	font-size: 1.3em;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}
section#rando form div{
	margin-top: 15px;
	margin-bottom: 15x;
	text-align: center;
}
section#rando form div p{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 1.3em;
}
section#rando form div select{
	min-width: 123px;
}
					/* Recherche par mots clés */
section#rando form div#recherche_mot_cle input[type="text"]{
	width: 300px;
}
section#rando form div#recherche_mot_cle input[type="submit"]{
	margin-left: 50px;
}
					/* Recherche par critères */
section#rando form div#recherche_criteres div.critere{
	display: inline-block;
	margin-top: 0px;
	margin-left: 19px;
	margin-right: 19px;
}


/* - - - - - - - - - - Affichage randonnée - - - - - - - - - - */
section#rando div#affichage_recherche div#rando_pair{ background-color: #FFFFFF; }
section#rando div#affichage_recherche div#rando_impair{ background-color: #EAEAEA; }
section#rando div#affichage_recherche div#rando_pair,
section#rando div#affichage_recherche div#rando_impair{
	min-height: 300px;
}
section#rando div#affichage_recherche div p#titre{
	color: #2E2E2E;
	font-size: 1.5em;
	text-shadow: 1px 1px 3px #585858;
	text-align: center;
	width: 100%;
}
					/* Photo */
section#rando div#affichage_recherche div#rando_pair div#rond{ float: left; }
section#rando div#affichage_recherche div#rando_impair div#rond{ float: right; }
section#rando div#affichage_recherche div div#rond{
	position: relative;
	display: block;
	margin-top: -20px;
	width: 250px;
	height: 250px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
	overflow: hidden;
}
section#rando div#affichage_recherche div#rando_pair div#rond a#lien{ border: 110px solid #FFFFFF; }
section#rando div#affichage_recherche div#rando_impair div#rond a#lien{  border: 110px solid #EAEAEA; }
section#rando div#affichage_recherche div div#rond a#lien{
	display: block;
	height: 190px;
	width: 190px;
	position: absolute;
	margin-left: -80px;
	margin-top: -80px;
	border-radius: 300px;	
	transition: all 0.3s ease 0s;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 1) inset;
}
section#rando div#affichage_recherche div div#rond a:hover{
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}
section#rando div#affichage_recherche div div#rond img{
	width: 250px;
	height: 250px;
}
					/* Caractériqtiques */
section#rando div#affichage_recherche{
	background: #FFFFFF;
	border-top-left-radius: 20px;
}
section#rando div#affichage_recherche div#rando_pair div#texte{ float:left; }
section#rando div#affichage_recherche div#rando_impair div#texte{ float:right; }
section#rando div#affichage_recherche div div#texte{
	display: inline-block;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	width: 500px;
	height: 170px;
}
section#rando div#affichage_recherche div#rando_impair div#texte div.caracteristiques{ float: right; }
section#rando div#affichage_recherche div div#texte div.caracteristiques{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-top: 10px;
	min-width: 200px;
}
section#rando div#affichage_recherche div div#texte div.caracteristiques span.intitule_caract img{
	width: 20px;
	height: 20px;
}
section#rando div#affichage_recherche div div#texte div.caracteristiques span.intitule_caract{
	margin-left:10px;
	font-size: 20px;
}
section#rando div#affichage_recherche div div#texte div.caracteristiques span.valeur_caract{
	margin-left: 37px;
}
section#rando div#affichage_recherche div div#texte div.caracteristiques div#cercle{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	background-color: #FE642E;
	box-shadow: 1px 1px 1px rgba(200, 200, 200, 1);
	border-radius: 15px;
}
					/* Note */
section#rando div#affichage_recherche div#rando_pair div#note{ text-align: right; margin-right: 15px; }
section#rando div#affichage_recherche div div#note{
	display: block;
	position:relative;
	top: -30px;
	margin-left: 15px;
	margin-right: 15px;
}
section#rando div#affichage_recherche div div#note img#stars,
section#rando div#affichage_recherche div div#note img#stars_vide{
	width: 20px;
	height: 20px;
	margin-left: 1px;
	margin-right: 1px;
}
section#rando div#affichage_recherche div div#note span#nb_vote{
	font-style: italic;
	margin-right: 15px;
}
					/* Fiche */
section#rando div#affichage_recherche div#rando_pair div#fiche{ text-align:right; margin-top: 240px;}
section#rando div#affichage_recherche div#rando_impair div#fiche{ margin-top: 235px;}
section#rando div#affichage_recherche div div#fiche{
	margin-left: 15px;
	margin-right: 15px;
}
section#rando div#affichage_recherche div#rando_pair div#fiche a#lien_consulter_fiche{ padding-right: 10px;}
section#rando div#affichage_recherche div#rando_impair div#fiche a#lien_consulter_fiche{ padding-left: 10px;}
section#rando div#affichage_recherche div div#fiche a#lien_consulter_fiche{
	display: block;
	font-style: italic;
	font-size: 14px;
	padding-bottom: 15px;
}


/* - - - - - - - - - - Fiche rando - - - - - - - - - - */
section#fiche_rando img#photo{
	width: 700px;
	border-bottom-left-radius: 75px;
	border-top-right-radius: 75px;
	margin-bottom: 20px;
	border-style: solid;
	border-color: rgba(168, 191, 117, 0.7);
	border-width: 10px;
}
					/* Carte */
section#fiche_rando div#carte{
	display: inline-block;
	float: right;
	margin: 30px 15px 0px 0px;
	width: 450px;
	height: 350px;
	border: solid 1px #CCC;
}
					/* Caractéristiques */
section#fiche_rando div.caracteristique{
	display: inline-block;
	width: 200px;
	height: 70px;
	margin-top: 25px;
	margin-right: 10px;
}
section#fiche_rando div.caracteristique span.intitule_caract{
	font-size: 20px;
}
section#fiche_rando div.caracteristique span.intitule_caract img{
	position: relative;
	width: 30px;
	height: 30px;
	top: 5px;
}
section#fiche_rando div.caracteristique span.valeur_caract{
	margin-left: 36px;
}
section#fiche_rando div.caracteristique span.valeur_caract img.etoile{
	width: 25px;
	height: 25px;
}
section#fiche_rando div.caracteristique span.valeur_caract div#cercle{
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	background-color: #FE642E;
	box-shadow: 1px 1px 1px rgba(200, 200, 200, 1);
	border-radius: 15px;
}
section#fiche_rando span#auteurRando,
section#fiche_rando span#dateRando{
	font-style: italic;
	margin: 15px;
	display: block;
}
section#fiche_rando span#dateRando{
	float: right;
}
section#fiche_rando img.galerie{
	margin: 5px 10px;
	width: 105px;
	height: 77px;
}
					/* Commentaire */
section#fiche_rando div#commentaire{
	display: block;
	width: 600px;
	height: auto;
	padding: 10px;
	margin: 10px auto;
	border: solid 1px #CCC;
	overflow: hidden;
	background-color: #FFFFFF;
}
section#fiche_rando div span#auteurComment{
	font-weight: bold;
	font-size: 15px;
}
section#fiche_rando div span#dateComment{
	font-style: italic;
	float: right;
	vertical-align: top;
}
section#fiche_rando div span#note{
	float: right;
}
section#fiche_rando form{
	display: inline-block;
	width: 100%;
	text-align: center;
}
section#fiche_rando form textarea{
	display: block;
	width: 600px;
	height: 125px;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
					/* Etoile_commentaire */
section#fiche_rando p{
	display: inline-block;
	width: 50px;
	margin-top: 15px;
}
section#fiche_rando ul.notes{
	display: inline-block;
	vertical-align: top;
	float: right;
	width: 250px;
	margin-right: 157px;
}
section#fiche_rando ul.notes li{
	display: block;
	float:right;
	margin:0;	
	padding:0;
	list-style:none;
	min-width:20px;
	min-height:20px;
}
section#fiche_rando ul.notes li label.etoile_vide{
	display:block;
	width: 35px;
	height: 45px;
	text-align:center;
	line-height:40px;
	background:url(../Resources/Images/etoile_jaune_vide.png) center no-repeat;
	cursor:pointer;
}
section#fiche_rando ul.notes li label.etoile_select{
	display:block;
	width: 35px;
	height: 45px;
	text-align:center;
	line-height:40px;
	background:url(../Resources/Images/etoile_jaune_pleine.png) center no-repeat;
	cursor:pointer;
}
section#fiche_rando ul.notes li input{
	position: absolute;
	left: -999%;
}
section#fiche_rando li.note-off label{
	background-position:center -60px;
}
section#fiche_rando ul.notes-echelle li.note-checked {
	font-weight:bold;
}
section#fiche_rando ul.notes-echelle.js li.note-focus {
	outline:1px dotted #000;
}


/* - - - - - - - - - - Ajout Randonnée - - - - - - - - - - */
section#ajoutrando{
	width: 1150px;
	text-align: center;
}
section#ajoutrando form{
	margin-right: 50px;
}
section#ajoutrando form input[type=range] {
	height:10px;
	width:280px;
	padding:0px;
	color:#1C1C1C;
    -webkit-appearance:none;
	border-radius:10px;
}
section#ajoutrando form input[type=range]::-webkit-slider-thumb {
    background:#555;
    height:10px;
    width:10px;
	border-radius:10px;
	border:solid 1px #FFFFFF;
    -webkit-appearance:none;
}
section#ajoutrando form input[type=range]::-moz-range-thumb {
    background:#555;
    height:10px;
    width:10px;
	border-radius:10px;
	border:solid 1px #FFFFFF;
}
section#ajoutrando form input[type=range]::-moz-range-track {
	width:0px;
    -moz-appearance:none;
}
section#ajoutrando form input[type=range]::-ms-fill-lower {
    background:#FFFFFF;
}
section#ajoutrando form input[type=range]::-ms-fill-upper {
    background:#FFFFFF;
}
section#ajoutrando form input#difficulte{
	background: none;
	border: none;
}

section#ajoutrando form input#fileMap{
	display: none;
}

section#ajoutrando .vignette{
	width: 200px;
}

/* - - - - - - - - - - Administration - - - - - - - - - - */
section#administration{
	width: 100%;
}
section#administration div.titre{
	margin-left: 50px;
}
section#administration a.menu_administration{
	float: left;
	font-family: Kalinga;
	color: #999;
	padding: 5px 10px 2px 10px;
	margin-top: 5px;
	margin-left: 20px;
	font-size: 17px;
	line-height: 22px;
	background-image: url(../Resources/Images/vert.png);
	background-size: 100%;
	background-position: -200px -10px;
	background-repeat: no-repeat;
	-webkit-transition: background-position .5s ease, color .8s ease;
	transition: background-position .5s ease, color .8s ease;
}
section#administration a:hover{
	color: #FFF;
	background-position: 0 0;
}
section#administration form input[type=submit]{
	float: right;
	margin-right: 20px;
	margin-left: 10px;
	margin-bottom: 30px;
}
section#administration form table{
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #CCC;
}
section#administration form table tr.ligne_impair{}
section#administration form table tr.ligne_pair{ background-color: rgba(255, 255, 255, 0.5); }
section#administration form table tr{
	text-align: center;
	cursor: pointer;
}
section#administration form table tr td input[type=text],
section#administration form table tr td textarea,
section#administration form table tr td input[type=text]:hover,
section#administration form table tr td textarea:hover{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
}
					/* Photos */
section#administration form div.photo{
	display: inline-block;
	margin: 20px 0px 0px 22px;
	width: 210px;
	height: 143px;
	overflow: hidden;
}
section#administration form label{
	font-size: 15px;
}
section#administration form div.photo label img{
	width: 200px;
	height: 133px;
	border: 5px #A8BF75 solid;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	cursor: pointer;
}
section#administration form div.photo input[type="checkbox"]{
	position: relative;
	display: block;
	float: right;
	margin-top: -20px;
	margin-right: 4px;
}


/* - - - - - - - - - - Inscription - - - - - - - - - - */
section#inscription form label{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 10px;
	margin-top: 15px;
	width: 90px;
}
section#inscription form label#day{
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	width: 50px;
	margin-left: 10px;
}
section#inscription form label#mois_annee{
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 20px;
	width: 50px;
}
section#inscription form p#titre_birth{
	font-weight: bold;
	margin-left: 53%;
}
section#inscription form input, 
section#inscription form select{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	border-radius: 50px;
}
section#inscription form img#img_formulaire_inscription{
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-left: 35%;
	margin-top: 1%;
}
section#inscription form input[type="submit"]{
	margin-left: 40%;
	width: 200px;
	margin-top: 50px;
}

/* - - - - - - - - - - Connexion - - - - - - - - - - */
section#connexion{
	text-align: center;
}
section#connexion form input{
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
}
section#connexion form input[type="text"],
section#connexion form input[type="password"]{
	width: 200px;
}
section#connexion form#form_connexion{
	display: inline-block;
	width: 50%;
	margin-left: -20%;
	border-right: 1px solid;
	margin-right: 18%;
}
section#connexion div#div_lien_inscription{
	display: inline-block;
	vertical-align: top;
}
section#connexion div#div_lien_inscription img#img_inscription{
	margin-top: 40px;
}


/* - - - - - - - - - - Profil - - - - - - - - - - */
section#profil div#pseudo{
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
}
section#profil table{
	margin: auto;
	vertical-align: top;
	line-height: 150%;
}
section#profil table tr td img{
	width: 128px;
	height: 128px;
}

/* - - - - - - - - - - Contact - - - - - - - - - - */
section#contact form#form_contact input[type=text],
section#contact form#form_contact input[type=email]{
    width: 350px;
    margin-left: 10px;
}
section#contact form#form_contact textarea{
	width: 80%;
	height: 250px;
	margin-left: 10%;
}
section#contact form#form_contact input[type=submit]{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
section#contact form#form_contact img{
	width: 20px;
	height: 20px;
	margin-left: 60px;
}

/* - - - - - - - - - - Footer - - - - - - - - - - */
footer{
	display: inline-block;
	margin-left: 2%;
	margin-top: 25px;
	width: 96%;
	text-align: center;
}
footer table{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}