@charset "iso-8859-1";

/* - - - - - - - - - - Réglages par default - - - - - - - - - - */
*{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #555555;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style-type: none;
	outline: none;
	resize: none;
	border: none;
}
body{
	background-image: url(../Resources/Images/wall.jpg);
	background-color: #000;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
	background-position: top right;
	width: 100%;
	height: 100%;
	min-width: 1000px;
}
hr{
	margin: 18px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}
h1{
	color: #A8BF75;
	font-size: 16px;
}


/* - - - - - - - - - - Corps - - - - - - - - - - */
div#corps{
	height: auto;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	background-image: url(../Resources/Images/rayure.png);
	background-repeat: repeat;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
}


/* - - - - - - - - - - Menu - - - - - - - - - - */
nav{
	display: inline-block;
	width: 100%;
	min-width: 800px;
	margin-bottom: 25px;
}
nav ul li{
	display: block;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}
nav ul li a{
	display: block;
	font-family: Kalinga;
	color: #999;
}
					/* Menu */
nav ul#menu li a{
	padding: 5px 10px 2px 10px;
	font-size: 17px;
	line-height: 22px;
	background-image: url(../Resources/Images/vert.png);
	background-size: 100%;
	background-position: -200px -10px;
	background-repeat: no-repeat;
	-webkit-transition: background-position .5s ease, color .8s ease;
}
nav ul#menu li a:hover{
	color: #FFF;
	background-position: 0 0;
}
					/* Compte */
nav ul#account{
	margin-top: 5px;
	float: right;
	margin-right: 15px;
}
nav ul#account li a{
	padding: 3px 8px;
	font-size: 12px;
	line-height: 15px;
	background-color: #E9E9E9;
	-webkit-transition: background-color .5s ease, color .8s ease;
}
nav ul#account li a:hover{ color: #FFF; }
nav ul#account li a.profil:hover{ background-color: #639FFA; }
nav ul#account li a.connexion:hover{ background-color: #F26265; }


/* - - - - - - - - - - Accueil - - - - - - - - - - */
div#corps div.cadre{
	display: inline-block;
	width: 400px;
	margin: 10px;
	overflow: hidden;
}
div#corps div#map{
	display: block;
	float: right;
	margin: 10px;
	overflow: hidden;
}


/* - - - - - - - - - - Activite_recente - - - - - - - - - - */
aside{
	display: inline-block;
	float: left;
	width: 20%;
	height: auto;
	overflow: hidden;
}
aside p{
	text-align: center;
	font-weight: bold;
	margin: 5px;
}
aside img{
	border-radius: 2px;
	margin-bottom: 7px;
	box-shadow:	0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


/* - - - - - - - - - - Section - - - - - - - - - - */
section{
	display: inline-block;
	float: right;
	width: 80%;
	height: auto;
	overflow: hidden;
}


/* - - - - - - - - - - Formulaires - - - - - - - - - - */
input,
select{
	margin-top: 5px;
	padding: 5px;
	border-radius: 2px;
	border: solid 1px #CCC;
	background-color: #F5F5F5;
}
select{
	cursor: pointer;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
textarea:hover,
textarea:focus,
select:hover{
	background-color: #FFFFFF;
	box-shadow: 0px 0px 3px rgba(0, 100, 255, 1),
				0px 0px 3px rgba(0, 100, 255, 1);
}
input[type="submit"]{
	cursor: pointer;
	font-weight: bold;
}
input[type="submit"]:hover{
	background-color: #2E9AFE;
	color: #F5F6F7;
	border: solid 1px #2E9AFE;
}


/* - - - - - - - - - - Formulaire de recherche - - - - - - - - - - */
section#rando div#titre_recherche_avancee{
	width: 100%;
	height: 50px;
	background-color: #2E9AFE;
	box-shadow:	0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}
section#rando div#titre_recherche_avancee p{
	padding-top: 13px;
	text-align: center;
	color: #F5F6F7;
	font-weight: bold;
	font-size: 1.3em;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}
section#rando form div{
	margin-top: 15px;
	margin-bottom: 40px;
	text-align: center;
}
section#rando form div p{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 1.3em;
}
section#rando form div input[type="submit"]{
	margin-left: 50px;
}
section#rando form div select{
	min-width: 123px;
}
					/* Recherche par mots clés */
section#rando form div#recherche_mot_cle input[type="text"]{
	width: 300px;
	font-weight: bold;
}
					/* Recherche par critères */
section#rando form div#recherche_criteres div.critere{
	display: inline-block;
	margin-top: 0px;
	margin-left: 1.3%;
	margin-right: 1.3%;
}
section#rando form div#recherche_criteres input[type="submit"]{
	margin-right: 50px;
}


/* - - - - - - - - - - Affichage randonnée - - - - - - - - - - */
section#rando div#affichage_recherche div#rando_pair{ background-color:#BDBDBD; }
section#rando div#affichage_recherche div#rando_impair{ background-color:#E6E6E6; }
section#rando div#affichage_recherche div#rando_pair,
section#rando div#affichage_recherche div#rando_impair{
	min-height: 300px;
	box-shadow: 0px 0px 5px #2E2E2E;
}
section#rando div#affichage_recherche div p#titre{
	color: #2E2E2E;
	font-size: 1.5em;
	text-shadow: 1px 1px 3px #585858;
	text-align: center;
	width: 100%;
}
					/* Photo */
section#rando div#affichage_recherche div#rando_pair div#rond{ float: left; }
section#rando div#affichage_recherche div#rando_impair div#rond{ float: right; }
section#rando div#affichage_recherche div div#rond{
	position: relative;
	display: block;
	margin-top: -20px;
	width: 250px;
	height: 250px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
	overflow: hidden;
}
section#rando div#affichage_recherche div#rando_pair div#rond a#lien{ border: 110px solid #BDBDBD; }
section#rando div#affichage_recherche div#rando_impair div#rond a#lien{  border: 110px solid #E6E6E6; }
section#rando div#affichage_recherche div div#rond a#lien{
	display: block;
	height: 190px;
	width: 190px;
	position: absolute;
	margin-left: -80px;
	margin-top: -80px;
	border-radius: 300px;	
	transition: all 0.3s ease 0s;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 1) inset;
}
section#rando div#affichage_recherche div div#rond a:hover{
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}
section#rando div#affichage_recherche div div#rond img{
	width: 250px;
	height: 250px;
}
					/* Caractériqtiques */
section#rando div#affichage_recherche div#rando_pair div#texte{ margin-left:2%; }
section#rando div#affichage_recherche div#rando_impair div#texte{ float:right; margin-right:2%; }
section#rando div#affichage_recherche div div#texte{
	display: inline-block;
	margin-top: 50px;
	max-width: 61%;
	min-height: 170px;
}
section#rando div#affichage_recherche div#rando_impair div#texte div.caracteristiques{ float: right; }
section#rando div#affichage_recherche div div#texte div.caracteristiques{
	display: inline-block;
	margin: 1%;
	min-width: 200px;
}
section#rando div#affichage_recherche div div#texte div.caracteristiques span.intitule_caract img{
	width: 20px;
	height: 20px;
}
section#rando div#affichage_recherche div div#texte div.caracteristiques span.intitule_caract{
	margin-left: 10px;
	font-size: 20px;
}
section#rando div#affichage_recherche div div#texte div.caracteristiques span.valeur_caract{
	margin-left: 37px;
}
section#rando div#affichage_recherche div div#texte div.caracteristiques div#cercle{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	background-color: #FE642E;
	box-shadow: 1px 1px 1px rgba(200, 200, 200, 1);
	border-radius: 15px;
}
					/* Note */
section#rando div#affichage_recherche div#rando_pair div#note{ text-align: right; margin-right: 2%; }
section#rando div#affichage_recherche div div#note{
	display: block;
	position:relative;
	top: -20px;
	margin-left: 2%;
	margin-right: 1%;
}
section#rando div#affichage_recherche div div#note img#stars_vide{
	width: 25px;
	height: 25px;
}
section#rando div#affichage_recherche div div#note img#stars{
	width: 25px;
	height: 25px;
}
					/* Fiche */
section#rando div#affichage_recherche div#rando_pair div#fiche{ text-align:right; margin-top: 15px;}
section#rando div#affichage_recherche div#rando_impair div#fiche{ margin-top: 235px;}
section#rando div#affichage_recherche div div#fiche{
	margin-left: 1%;
	margin-right: 1%;
}
section#rando div#affichage_recherche div#rando_pair div#fiche a#lien_consulter_fiche{ padding-right: 7%;}
section#rando div#affichage_recherche div#rando_impair div#fiche a#lien_consulter_fiche{ padding-left: 7%;}
section#rando div#affichage_recherche div div#fiche a#lien_consulter_fiche{
	display: block;
	color: #2E2E2E;
	font-style: italic;
	font-size: 1.4em;
	padding-bottom: 2%;
	text-shadow: 0px 0px 1px #585858;
}


/* - - - - - - - - - - Connexion - - - - - - - - - - */
section#connexion{
	text-align: center;
}
section#connexion form#form_connexion{
	display: inline-block;
	width: 40%;
	margin-left: -10%;
	border-right: 1px solid;
	margin-right: 18%;
}
section#connexion h1#connexion{margin-left: -28%;}
section#connexion h1{
	margin-top: 50px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 1.3em;
}
section#connexion p.connexion{
	margin-left: -28%;
	margin-bottom: 15px;
	margin-top: -10px;
	color: #F30;
}
section#connexion p.error{
	color: #F30;
	font-style: italic;
}
section#connexion form input{
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
}
section#connexion form input[type="text"],
section#connexion form input[type="password"]{
	width: 200px;
}

section#connexion div#div_lien_inscription{
	display: inline-block;
	vertical-align: top;
	margin-left: -5%;
	margin-top: 5%;
}


/* - - - - - - - - - - Profil - - - - - - - - - - */
section#profil div#pseudo{
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
}
section#profil table{
	margin: auto;
	vertical-align: top;
	line-height: 150%;
}
section#profil table tr td img{
	width: 128px;
	height: 128px;
}


/* - - - - - - - - - - Footer - - - - - - - - - - */
footer{
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	width: 98%;
	text-align: center;
}


/* - - - - - - - - - - Fiche rando - - - - - - - - - - */
section#fiche_rando div#cadre_photo{
	display: block;
	width: 50%;
	min-width: 60%;
	height: 400px;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 20%;
	text-align: center;
	position: relative;
	text-align: center;
	border: 4px solid #2E2E2E;
	box-shadow: 1px 1px 10px #2E2E2E;
		-moz-box-shadow: 1px 1px 10px #2E2E2E; 
			-webkit-box-shadow: 1px 1px 10px #2E2E2E;
}			
section#fiche_rando div#cadre_photo img{
	display: block;
	width: 100%;
	height: 100%;
}














section#fiche_rando form{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 2%;
}

section#fiche_rando form textarea{
	display: block;
	width: 60%;
	height: 125px;
	margin-top: 3%;
	margin-left: 20%;
	margin-bottom: 1%;
	border-radius: 2px;
	border: solid 1px #CCC;
	background-color: #F5F5F5;
}

section#fiche_rando form label{
	font-size: 1.3em;
	font-weight: bold;
}

section#fiche_rando form input{
	margin-bottom: 1%;
}


			/* Commentaire */
section#fiche_rando div#cadre_affichage_commentaire{
	display: block;
	width: 60%;
	height: auto;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-left: 20%;
	border-radius: 2px;
	border: solid 1px #CCC;
	background-color: #F5F5F5;
	text-align: center;
}

		/* Etoile_commentaire */
section#fiche_rando p{
	display: inline-block;
	width: 50px;
	margin-top: 5%;
}
section#fiche_rando ul.notes{
	display: inline-block;
	vertical-align: top;
	float: right;
	width: 250px;
	padding:0;
	margin-top: 0%;
	margin-right: 20%;
}
section#fiche_rando ul.notes li{
	display: block;
	float:right;
	margin:0;	
	padding:0;
	list-style:none;
	min-width:20px;
	min-height:20px;
}
section#fiche_rando ul.notes li label{
	display:block;
	width: 35px;
	height: 45px;
	text-align:center;
	line-height:40px;
	background:url(../Resources/Images/etoile_jaune_vide.png) center no-repeat;
	cursor:pointer;
}
section#fiche_rando ul.notes li label:hover{
	display:block;
	width: 35px;
	height: 45px;
	text-align:center;
	line-height:40px;
	background:url(../Resources/Images/etoile_jaune_pleine.png) center no-repeat;
	cursor:pointer;
}
section#fiche_rando ul.notes li input{
	position: absolute;
	left: -999%;
}
section#fiche_rando li.note-off label{
	background-position:center -60px;
}
section#fiche_rando ul.notes-echelle li.note-checked {
	font-weight:bold;
}
section#fiche_rando ul.notes-echelle.js li.note-focus {
	outline:1px dotted #000;
}









			/* Contact */
			

@font-face {
	font-family: 'YanoneKaffeesatzRegular';
	src: url('../Resources/Polisse/Yano/yanonekaffeesatz-regular-webfont.eot');
	src: url('../Resources/Polisse/Yano/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../Resources/Polisse/Yano/yanonekaffeesatz-regular-webfont.woff') format('woff'),
	url('../Resources/Polisse/Yano/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
	url('../Resources/Polisse/Yano/yanonekaffeesatz-regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}	

#mail_non_valider{
	font-size: 1.5em;
	margin-top: 25%;
}

#mail_non_valider_lien{
	font-size: 1.5em;
	margin-top: 1%;
	margin-bottom: 60%;
}


#mail_lien:hover{
	color: #0099CC;
}

#message_contact{
	font-family: 'YanoneKaffeesatzRegular';
	font-size: 1.8em;
	text-align: center;
	margin-bottom: 10%;
	margin-top: -10%;
}

body#Contact_body, body#mail_pas_envoyer{
	font-family: 'YanoneKaffeesatzRegular';
}

p#text_lettre{
	text-shadow:0 1px 0 #fff;
	font-size:24px;
}

#wrap{
	width: 530px; 
	margin: 20px auto 0; 
	margin-top: 15%;
	height: auto;
	text-align: left;
}

.input_contact{
	border: 0px;
}

#form_wrap { 
	overflow:hidden; height:446px; position:relative; top:0px;
	-webkit-transition: all 1s ease-in-out .3s;
	-moz-transition: all 1s ease-in-out .3s;
	-o-transition: all 1s ease-in-out .3s;
	transition: all 1s ease-in-out .3s;
}
	
#form_wrap:before {
	content:"";
	position:absolute;
	bottom:128px;left:0px;
	background:url('../Resources/Images/before.png');
	width:530px;height: 316px;
}
	
#form_wrap:after {
	content:"";position:absolute;
	bottom:0px;left:0;
	background:url('../Resources/Images/after.png');
	width:530px;height: 260px; 
}

#form_wrap.hide:after, #form_wrap.hide:before {
	display:none; 
}

#form_wrap:hover {
	height:850px;top:-200px;
}


form#form_contact{
	background:#f7f2ec url('../images/letter_bg.png'); 
	position:relative;top:200px;overflow:hidden;
	height:200px;width:400px;margin:0px auto;padding:20px; 
	border: 1px solid #fff;
	border-radius: 3px; 
	-moz-border-radius: 3px; -webkit-border-radius: 3px;
	box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
	-moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
	-webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
	-webkit-transition: all 1s ease-in-out .3s;
	-moz-transition: all 1s ease-in-out .3s;
	-o-transition: all 1s ease-in-out .3s;
	transition: all 1s ease-in-out .3s;
}


#form_wrap:hover form {
	height:530px;
}

label#label_contact{
	margin: 11px 20px 0 0; 
	font-size: 16px; color: #b3aba1;
	text-transform: uppercase; 
	text-shadow: 0px 1px 0px #fff;
}

input[type=text].input_contact, textarea#text_area_contact {
	font: 14px normal normal uppercase helvetica, arial, serif;
	color: #7c7873;background:none;
	width: 380px; height: 36px; padding: 0px 10px; margin: 0 0 10px 0;
	border:1px solid #f8f5f1;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 1px #726959;
	-webkit-box-shadow:  inset 0px 0px 1px #b3a895; 
	box-shadow:  inset 0px 0px 1px #b3a895;
}	

textarea#text_area_contact { height: 80px; padding-top:14px;}

textarea#text_area_contact:focus, input[type=text].input_contact:focus{
	background:rgba(255,255,255,.35);
}

#form_wrap input[type=submit].input_contact {
	position:relative;font-family: 'YanoneKaffeesatzRegular'; 
	font-size:24px; color: #7c7873;text-shadow:0 1px 0 #fff;
	width:100%; text-align:center;opacity:0;
	background:none;
	cursor: pointer;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
	-webkit-transition: opacity .6s ease-in-out 0s;
	-moz-transition: opacity .6s ease-in-out 0s;
	-o-transition: opacity .6s ease-in-out 0s;
	transition: opacity .6s ease-in-out 0s;
}

#form_wrap:hover input[type=submit].input_contact{
	z-index:1;opacity:1;
	-webkit-transition: opacity .5s ease-in-out 1.3s;
	-moz-transition: opacity .5s ease-in-out 1.3s;
	-o-transition: opacity .5s ease-in-out 1.3s;
	transition: opacity .5s ease-in-out 1.3s;
}

#form_wrap:hover input:hover[type=submit].input_contact{
	color: #E13E42;
}

#form_wrap input[type=submit].input_contact:hover{
	border: none;
}