
				/*Reglage par default des pages */


*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style-type: none;
}



			/* Paramètre de la div PAGE BLOCK*/

#page_block
{
	display: inline-block;
	width: 100%;
	height: 60em;
	min-width: 700px;
	background-color: #646464;
}

			/*Activite_recente*/
#activitees_recentes{
	display: inline-block;
	border-style: solid;
	width: 14%;
	margin-left: 1%;
	margin-top: 5%;
	padding-top: 12%;
	padding-bottom: 12%;
	background-color: #E80366;
}

			/*Menu*/
nav{
	display: inline-block;
	border-style: solid;
	text-align: center;
	margin-left: 10%;
	width: 80%;
	min-width: 250px;
	background-color: #26F018;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

li{
	display: inline-block;
	padding-right: 1%;
}

li a, li a:visited{
	color: blue;
}

			/*Section*/
section{
	display: inline-block;
	vertical-align: top;
	width: 78%;
	min-width: 250px;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 1%;
	margin-right: auto;
	border-style: solid;
	text-align: center;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	padding-left: 2.5%;
	background-color: #5A87F2;
}

			/*Article*/
article{
	display: inline-block;
	border-style: solid;
	width: 80%;
	padding-top: 5%;
	padding-bottom: 10%;
	background-color: #2CC5F3;
}




			/*Footer*/
footer{
	display: inline-block;
	border-style: solid;
	margin-left: 10%;
	margin-top: 7%;
	margin-bottom: 1%;
	width: 80%;
	min-width: 250px;
	text-align: center;
	background-color: #E86E03;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

