@charset "iso-8859-1";


			/* Reglage par default des pages */
*{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style-type: none;
	outline: none;
	resize: none;
	border: none;
}
html,
body{
	height: 100%;
	width: 100%;
	min-width: 1000px;
	height: 100%;
	background-color: #444444;
}


			/* Menu */
nav{
	text-align: center;
	width: 100%;
	min-width: 1000px;
	height: 70px;
}
nav ul{
	display: inline-block;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	background-color: #E4DFD2;
	box-shadow:	0px 0px 10px 0px rgba(0, 0, 0, 0.7);
	transition: 0.5s 0s ease-out;
}

nav ul#menu li a{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
nav ul#menu li a:hover{
	padding-bottom: 30px;
	margin-bottom: -30px;
	background-color: #F4EFE2;
	color: #111111;
	transition: 0.4s 0s ease-out;
}

nav ul#account{
	display: block;
	text-align: right;
	margin-right: 1%;
	margin-top: -40px;
}
nav ul#account li{
	margin-right: -4px;
}
nav ul#account li a{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 2px;
}
nav ul#account li a:hover{
	color: #E4DFD2;
	transition: 0.3s 0s all;
}
nav ul#account li a.profil:hover{
	background-color: #0080C0;
}
nav ul#account li a.connexion:hover{
	background-color: #E13E42;
}


			/* Corps */
#corps{
	height: auto;
	min-height: 80%;
	width: 98%;
	min-width: 1000px;	
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

			/* Activite_recente */
aside{
	display: inline-block;
	width: 15%;
	min-width: 120px;
	height: 725px;
	margin-right: -4px;
	background-color: #E4DFD2;
	border-radius: 2px;
	box-shadow:	0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}


			/* Section */
section{
	display: inline-block;
	width: 83%;
	height: 650px;
	margin-left: 2%;
	margin-right: auto;
	background-color: #E4DFD2;
	vertical-align: top;
	border-radius: 2px;
	box-shadow:	0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}


			/* Accueil */
#corps #presentation{
	display: inline-block;
	width: 66%;
	height: 600px;
	margin-right: -4px;
}
#corps #map{
	display: inline-block;
	width: 32%;
	height: 600px;
	margin-left: 2%;
	margin-right: auto;
	background-color: #E4DFD2;
	vertical-align: top;
	border-radius: 2px;
	overflow: hidden;
	box-shadow:	0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}


			/* Footer */
footer{
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	width: 98%;
	height: 50px;
	text-align: center;
	background-color: #E4DFD2;
	box-shadow:	0px 0px 10px 0px rgba(0, 0, 0, 0.7);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}












			/* Formulaire de recherche + affichage randonnée */
label{
	display: inline-block;
	width: auto;
	float: left;
	margin-right: 10px;
}
select, input{
	display: block;
	float: left;
	margin-right: 25px;
}
form{
	display: block;
	margin-left: 17%;
}
#titre{
	display: block;
	margin-left: 27%;
	margin-top: 3%;
}
#difficulty, #water{
	width: 100px;
}
#title{
	width: 200px;
}